<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIXU</key>
	<string>d5738a9c42e747b9b67184645171303</string>
	<key>OpenWeatherMap</key>
	<string>0b2e3a8f9307c0a5488522506641c002</string>
</dict>
</plist>
